<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News</title>
</head>
<body>
    <h1>News</h1>
    <ul>
        <li th:each="news : ${news}">
            <a th:href="'/news/' + ${news.id}" th:text="${news.title}"></a>
            <form th:action="@{/admin/deleteNews/{id}(id=${news.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>

    <h1>Categories</h1>
    <ul>
        <li th:each="category : ${categories}">
            <a th:href="'/news/category/' + ${category.id}" th:text="${category.name}"></a>
            <form th:action="@{/admin/deleteCategory/{id}(id=${category.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
    
    <div><a th:href="@{/admin/createCategory}" class="add-button">Add Category</a></div>
    <div><a th:href="@{/admin/createNews}" class="add-button">Add News</a></div>
    <a th:href="@{/}" class="back-link">Back to News</a>
</body>
</html>
