<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News App</title>
</head>
<body>
    <h1>News</h1>
    
    <form action="/search" method="get">
        <input type="text" name="keyword" placeholder="Search news">
        <button type="submit">Search</button>
    </form>
    <ul>
        <li th:each="news : ${news}">
            <a th:href="'/news/' + ${news.id}" th:text="${news.title}"></a>
        </li>
    </ul>

    <h1>Categories</h1>
    <ul>
        <li th:each="category : ${categories}">
            <a th:href="'/news/category/' + ${category.id}" th:text="${category.name}"></a>
        </li>
    </ul>

    <div><a th:href="@{/admin}" class="add-button">Admin</a></div>
</body>
</html>
