<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News App</title>
</head>
<body>
    <h1>News</h1>
    
    <form action="/search" method="get">
        <input type="text" name="keyword" placeholder="Search news">
        <button type="submit">Search</button>
    </form>
    <ul>
        <li th:each="news : ${news.getContent()}">
            <a th:href="'/news/' + ${news.id}" th:text="${news.title}"></a>
            <div th:if="${isAdmin}">
                <form th:action="@{/admin/deleteNews/{id}(id=${news.id})}" th:method="delete">
                    <button type="submit">Delete</button>
                </form>
                <form th:action="@{/admin/editNews/{id}(id=${news.id})}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </div>
        </li>
    </ul>

    <div th:if="${news.getTotalPages() > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/(size=${news.size}, page=${pageNumber - 1}, category=${categoryId})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==news.number + 1} ? active"></a>
    </div>

    <h1>Categories</h1>
    <div><a th:href="@{/}" class="add-button">Show All</a></div>
    <ul>
        <li th:each="category : ${categories}">
            <a th:href="@{/(category=${category.id})}" th:text="${category.name}"></a>
            <div th:if="${isAdmin}">
                <form th:action="@{/admin/deleteCategory/{id}(id=${category.id})}" th:method="delete">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </li>
    </ul>
    <div th:if="${isAdmin}">
        <div><a th:href="@{/admin/createForm(formType='category')}" class="add-button">Add Category</a></div>
        <div><a th:href="@{/admin/createForm(formType='news')}" class="add-button">Add News</a></div>
    </div>
    <form th:action="@{/changeStatus}" method="get">
        <button type="submit">Change status</button>
    </form>
</body>
</html>
